/.idea/
/vendor/
/composer.lock
/phpunit.xml
/.phpunit.result.cache
/.php-cs.cache

# Ignore files created during tests
/tests/app/var/cache/
/tests/app/var/logs/
/tests/logs/
/tests/app/src/Subject/Article.php
/tests/app/src/Subject/PullRequest.php
