* text=auto

/tests export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.coveralls.yml export-ignore
/.php_cs export-ignore
/phpunit.xml.dist export-ignore
/insights.php export-ignore
