language: php

php:
  - 7.1
  - 7.2
  - 7.3
  - nightly

matrix:
  allow_failures:
    - php: nightly

install:
  - COMPOSER_MEMORY_LIMIT=-1 travis_retry composer install

script:
  - composer run-script cs-fix
  - composer run-script coverage --timeout=0

after_success:
  - travis_retry composer run-script coverall
