<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <php>
        <server name="KERNEL_DIR" value="tests/App" />
        <env    name="APP_ENV"    value="test" />
        <env    name="APP_DEBUG"  value="false" />
    </php>

    <testsuites>
        <testsuite name="MbtBundle test suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./src/Resources</directory>
                <directory>./tests</directory>
                <directory>./vendor</directory>
                <directory>./doc</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
