<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./tests/app/bootstrap.php" colors="true">
    <php>
        <server name="KERNEL_CLASS" value="App\AppKernel" />
        <env    name="APP_ENV"      value="test" />
        <env    name="APP_DEBUG"    value="false" />
    </php>

    <testsuites>
        <testsuite name="MbtBundle test suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
            <exclude>
                <directory>./src/Resources</directory>
                <directory>./src/Maker</directory>
                <directory>./src/Validator/Constraints</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
